.block-style-goods {
  width: 1220px;
  margin: 80px auto;
  padding: 0 10px 0 10px;
}

@media screen and (max-width: 1230px) {
  .block-style-goods {
    width: 100%;
    margin: 60px auto;
  }
}

@media screen and (max-width: 768px) {
  .block-style-goods {
    flex-direction: column;
    margin: 40px auto;
  }
}

@media screen and (max-width: 425px) {
  .block-style-goods {
    margin: 20px auto;
  }
}

.aboutGoods__body {
  display: flex;
  flex-direction: column;
}

.aboutGoods__body > hr {
  color: #c4c4c4;
  opacity: 0.5;
}

.aboutGoods__tabs {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}

@media screen and (max-width: 1024px) {
  .aboutGoods__tabs {
    font-size: 16px;
  }
}

@media screen and (max-width: 424px) {
  .aboutGoods__tabs {
    font-size: 14px;
  }
}

.goods-tab {
  color: #888888;
}

.aboutGoods__tabs > button:not(:last-child) {
  margin-right: 150px;
}

@media screen and (max-width: 1024px) {
  .aboutGoods__tabs > button:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 560px) {
  .aboutGoods__tabs > button:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 374px) {
  .aboutGoods__tabs > button:not(:last-child) {
    margin-right: 3px;
  }
}

.aboutGoods__tabs > button {
  height: 49px;
}

.goods-tab.active {
  font-weight: 900;
  cursor: pointer;
  border-bottom: 2px solid #ff2424;
  color: #222222;
}

.tab-popular.active {
  display: flex;
}

.tab-goods {
  display: flex;
}

.tab-goods-content {
  display: flex;
  flex-direction: column;
}

.goods__content-wrap {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .goods__content-wrap {
    margin-top: 30px;
    flex-direction: column;
  }
}

.goods__content-block {
  width: 550px;
}

@media screen and (max-width: 1024px) {
  .goods__content-block {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 560px) {
  .goods__content-block {
    width: 100%;
  }
}

.goods__content-block > h5 {
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
  color: #222222;
  margin-bottom: 30px;
}

.goods__content-block > ul > li:not(:last-child) {
  margin-bottom: 20px;
}

.goods__content-block > ul > li::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  float: left;
  margin: 3px 3px 0 0;
  overflow: hidden;
  background-color: #ff2424;
  margin-right: 5px;
}

.goods__content-wrap > img {
  width: 516px;
  height: 316px;
}

@media screen and (max-width: 560px) {
  .goods__content-wrap > img {
    width: 100%;
    height: auto;
  }
}
