.advertisemen {
  background: #f6f6f6;
  width: 100%;
}

.advertisemen__wrap {
  max-width: 1920px;
  margin: 0 auto;
  height: 700px;
}

@media screen and (max-width: 1440px) {
  .advertisemen__wrap {
    max-width: 95%;
  }
}

.advertisement__slider-content {
  background: #f6f6f6;
  width: 100%;
}

.advertisement__slider-content-wrap {
  max-width: 1280px;
  height: 700px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.advertisement__slider-content-left {
  margin-top: 180px;
}

.advertisement__slider-content-left-wrapper {
  position: absolute;
  width: 45%;
}

@media screen and (max-width: 1024px) {
  .advertisement__slider-content-left-wrapper {
    width: 90%;
  }
}

.advertisement__slider-content-left-wrapper > p {
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #222222;
  text-align: start;
}

.advertisement__slider-content-left-wrapper > h2 {
  font-family: "EuropeExt";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  text-transform: uppercase;
  color: #222222;
  text-align: start;
  margin: 5px 0 10px 0;
}

@media screen and (max-width: 768px) {
  .advertisement__slider-content-left-wrapper > h2 {
    font-size: 30px;
  }
}

.advertisement__slider-content-left-wrapper > h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #222222;
}

.advertisement__slider-content-left-button {
  margin-top: 20px;
  width: 240px;
}

.advertisement__slide {
  position: relative;
}

.advertisement-slider {
  width: 1920px;
}

.advertisement-slider .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #222222;
}

.advertisement-slider .swiper-pagination-bullet-active {
  border: 1px solid #ff2424;
  background: transparent;
  width: 16px;
  height: 16px;
}

.advertisement__slide {
  height: 280px;
}

.advertisement-button-color {
  background: #222222;
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
}
