.advertisemen {
  background: #f6f6f6;
  width: 100%;
}

.advertisemen__wrap {
  max-width: 1920px;
  margin: 0 auto;
  height: 700px;
}

.advertisement__slider-content {
  background: #f6f6f6;
  width: 100%;
  margin-top: 420px;
}

.advertisement__slider-content-wrap {
  max-width: 1180px;
  height: 700px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.advertisement__slider-content-right > img {
  width: 500px;
  height: 707px;
}

@media screen and (max-width: 500px) {
  .advertisement__slider-content-right > img {
    width: 100%;
  }
}

.advertisement__slider-content-left {
  width: calc(100% - 500px);
  display: flex;
  margin-top: 175px;
}

.advertisement__slider-content-left-wrapper {
  position: absolute;
  max-width: 800px;
  margin-left: 10px;
}

.advertisement__slider-content-left-wrapper > p {
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #222222;
  text-align: start;
}

.advertisement__slider-content-left-wrapper > h2 {
  font-family: "EuropeExt";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  text-transform: uppercase;
  color: #222222;
  text-align: start;
  margin: 5px 0 10px 0;
}

@media screen and (max-width: 768px) {
  .advertisement__slider-content-left-wrapper > h2 {
    font-size: 30px;
  }
}

.advertisement__slider-content-left-wrapper > h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #222222;
  display: flex;
  margin: 10px 0 0 240px;
  text-align: start;
}

@media screen and (max-width: 1280px) {
  .advertisement__slider-content-left-wrapper > h4 {
    margin: 10px 0 0 0px;
  }
}

.advertisement__slider-content-left-button {
  margin-top: 30px;
  width: 240px;
}

.advertisement__slide {
  position: relative;
}

.advertisement-slider {
  width: 1920px;
}

.advertisement__slide {
  height: 280px;
}

.advertisement-button-color {
  background: #222222;
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
}
