.advertisemen {
  background: #f6f6f6;
  width: 100%;
}

.advertisemen__wrap {
  max-width: 1920px;
  margin: 0 auto;
  height: 700px;
}

@media screen and (max-width: 1440px) {
  .advertisemen__wrap {
    max-width: 95%;
  }
}

.advertisement__slider-content {
  background: #f6f6f6;
  width: 100%;
  margin-top: 420px;
}

.advertisement__slider-content-wrap {
  max-width: 1280px;
  height: 700px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.advertisement__slider-content-right > img {
  width: 500px;
  height: 707px;
}

@media screen and (max-width: 500px) {
  .advertisement__slider-content-right > img {
    width: 100%;
  }
}

.advertisement__slider-content-left {
  width: calc(100%-500px);
  display: flex;
  margin-top: 175px;
}

.advertisement__slider-content-left-wrapper {
  position: absolute;
  width: 45%;
  margin-left: 40px;
}

@media screen and (max-width: 1024px) {
  .advertisement__slider-content-left-wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 425px) {
  .advertisement__slider-content-left-wrapper {
    margin-left: 20px;
  }
}

.advertisement__slider-content-left-wrapper > p {
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #222222;
  text-align: start;
}

.advertisement__slider-content-left-wrapper > h2 {
  font-family: "EuropeExt";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  text-transform: uppercase;
  color: #222222;
  text-align: start;
  margin: 5px 0 10px 0;
}

@media screen and (max-width: 768px) {
  .advertisement__slider-content-left-wrapper > h2 {
    font-size: 30px;
  }
}

.advertisement__slider-content-left-wrapper > h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #222222;
  display: flex;
  margin: 10px 0 0 240px;
  text-align: start;
}

@media screen and (max-width: 1280px) {
  .advertisement__slider-content-left-wrapper > h4 {
    margin: 10px 0 0 0px;
  }
}

.advertisement__slider-content-left-button {
  margin-top: 30px;
  width: 240px;
}

.advertisement__slide {
  position: relative;
}

.advertisement-slider {
  width: 1920px;
}

.advertisement-slider .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #222222;
  opacity: 1;
  position: relative;
}

.advertisement-slider .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
  border-radius: 50%;
  border: 1px solid #ff2424;
  opacity: 0;
  transition: opacity 0.3s;
}

.advertisement-slider .swiper-pagination-bullet-active {
  background: #ff2424;
}

.advertisement-slider .swiper-pagination-bullet-active::before {
  opacity: 1;
  transition: opacity 0.3s;
}

.swiper-horizontal
  .advertisement-slider
  > .swiper-pagination-bullets
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 15px) !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 106px !important;
  left: calc(50% - 610px) !important;
  /* width: 200px !important;*/
  width: 110px !important;
}

@media screen and (max-width: 1440px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 30px !important;
  }
}

@media screen and (max-width: 768px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 30px !important;
  }
}

.advertisement__slide {
  height: 280px;
}

.advertisement-button-color {
  background: #222222;
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
}
