.article {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .article {
    flex-direction: column;
  }
}

.article__left {
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 740px;
  background: #f6f6f6;
  cursor: pointer;
  position: relative;
}

.article__left:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
  transition: 0.3s box-shadow;
  background-image: url(../images/go.svg);
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position: right 38px bottom 38px;
  z-index: 10;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .article__left {
    width: 100%;
    height: auto;
  }
}

.article__left > img {
  width: 435px;
  height: 555px;
  margin: 93px auto 0;
}

@media screen and (max-width: 530px) {
  .article__left > img {
    width: 80%;
    height: auto;
    margin: 30px auto 0;
  }
}

.article__left > h5 {
  margin: 16px 0 0 39px;
}

.article__right {
  width: 580px;
}

@media screen and (max-width: 1200px) {
  .article__right {
    width: 100%;
    margin-top: 20px;
  }
}

.article__right-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  position: relative;
}

.article__right-top:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
  transition: 0.3s box-shadow;
  background-image: url(../images/go.svg);
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position: right 38px bottom 38px;
  z-index: 10;
  cursor: pointer;
}

.article__right-top > img {
  margin: 32px auto 0;
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  .article__right-top > img {
    width: 80%;
    height: auto;
  }
}

.article-block-min {
  height: 350px;
  padding: 0 40px;
}

@media screen and (max-width: 530px) {
  .article-block-min {
    height: auto;
    padding: 0 20px;
  }
}

.article-font {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #222222;
}

@media screen and (max-width: 768px) {
  .article-font {
    font-size: 20px;
  }
}

.article__right-bottom {
  margin-top: 40px;
  background: #f8f8f8;
  display: flex;
  justify-content: space-between;
}

.article__right-bottom:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
  transition: 0.3s box-shadow;
  background-image: url(../images/go.svg);
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position: right 38px bottom 38px;
  z-index: 10;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .article__right-bottom {
    margin-top: 20px;
  }
}

@media screen and (max-width: 530px) {
  .article__right-bottom {
    flex-direction: column-reverse;
  }
}

.article__right-bottom > h5 {
  margin-top: 274px;
}

@media screen and (max-width: 530px) {
  .article__right-bottom > h5 {
    margin-top: 15px;
  }
}

.article__right-bottom > img {
  margin: 32px auto 0;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 530px) {
  .article__right-bottom > img {
    width: 80%;
    height: auto;
  }
}
