.associated-slider-wrap {
  position: relative;
  width: 100%;
}

.associated-button {
  position: absolute;
  top: calc(100% - 390px);
  z-index: 2;
}

@media screen and (max-width: 1300px) {
  .associated-button {
    top: calc(100% - 370px);
  }
  .associated-button > svg {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .associated-button > svg {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .associated-button {
    top: calc(100% - 350px);
  }
}

@media screen and (max-width: 1023px) {
  .associated-button {
    top: calc(100% - 420px);
  }
}

@media screen and (max-width: 820px) {
  .associated-button {
    top: calc(100% - 400px);
  }
}

.associated-prev {
  left: -40px;
}

.associated-next {
  right: -40px;
}

@media screen and (max-width: 1300px) {
  .associated-prev {
    left: 0px;
  }
  .associated-next {
    right: 0px;
  }
}
