.crumb {
  display: flex;
}

.crumb > li > a {
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
}

.crumb > li + li:before {
  padding: 10px;
  content: url(../images/Vector.svg);
}

.crumblink {
  color: #222222;
}

.crumblink:hover {
  color: #ff2424;
  transition: 0.3s color;
}

.crumblink-active {
  color: #999999;
}

.breadcrumbs-style {
  max-width: 1220px;
  margin: 40px auto 0px;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .breadcrumbs-style {
    flex-direction: column;
    margin: 20px auto 0px;
  }
}

@media screen and (max-width: 425px) {
  .breadcrumbs-style {
    margin: 0px auto 0px;
  }
}
