.catalog {
  background: white;
  width: 100%;
  padding: 120px 0 120px 0;
  height: 850px;
}

@media screen and (max-width: 1440px) {
  .catalog {
    padding: 80px 0 80px 0;
  }
}

@media screen and (max-width: 767px) {
  .catalog {
    padding: 40px 0 40px 0;
  }
}
/************табы***************/
.catalog-tabs {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 600px) {
  .catalog-tabs {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog-section {
  display: none;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  width: 786px;
}

@media screen and (max-width: 600px) {
  .catalog-section {
    position: relative;
  }
}

.catalog-tabs > input {
  display: none;
}
.catalog-tabs > label {
  display: block;
  width: 180px;
  padding: 15px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #888888;
}

@media screen and (max-width: 600px) {
  .catalog-tabs > label {
    width: auto;
    padding: 5px;
  }
}

.catalog-input:checked + label {
  font-weight: 800;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
}
#catalog-tab1:checked ~ #catalog-content1,
#catalog-tab2:checked ~ #catalog-content2,
#catalog-tab3:checked ~ #catalog-content3,
#catalog-tab4:checked ~ #catalog-content4,
#catalog-tab5:checked ~ #catalog-content5,
#catalog-tab6:checked ~ #catalog-content6 {
  display: block;
}

.tabs > label {
  color: #222222;
  transition: 0s color;
  transition-delay: 0.3s;
}

.tabs > label:hover {
  color: #ff2424;
}

/**************************************/
