.catalogTabs {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  height: 515px;
  position: relative;
}

.catalog__body {
  display: flex;
}

@media screen and (max-width: 767px) {
  .catalog__body {
    flex-direction: column;
  }
}

.catalog__tabs {
  display: flex;
  flex-direction: column;
  width: 34%;
  padding: 60px 0px 58px 70px;
}

@media screen and (max-width: 1280px) {
  .catalog__tabs {
    padding: 30px 10px 30px 10px;
  }
}
@media screen and (max-width: 767px) {
  .catalog__tabs {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 10px 10px 10px;
  }
}

.catalog__tabs > button {
  margin-bottom: 15px;
  text-align: start;
  color: 222222;
  transition-delay: 0.3s;
}

.catalog__tabs > button:hover {
  color: #ff2424;
  transition-delay: 0.3s;
}

@media screen and (max-width: 767px) {
  .catalog__tabs > button {
    margin-bottom: 0;
  }
}

.nav-tab {
  line-height: 140%;
  color: #222222;
  padding: 5px;
}
.nav-tab.active {
  font-weight: 900;
  cursor: pointer;
}
.calalog__content {
  background: #f6f6f6;
  width: calc(100% - 432px);
}

@media screen and (max-width: 1000px) {
  .calalog__content {
    width: 80vw;
  }
}

@media screen and (max-width: 767px) {
  .calalog__content {
    width: 100%;
  }
}

.tab-pane {
  display: none;
}

.tab-pane > img {
  display: flex;
  margin: 70px auto;
  min-width: 1vw;
  height: auto;
}

.tab-pane.active {
  display: flex;
}

.catalog__link {
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 425px) {
  .catalog__link {
    margin-top: 20px;
  }
}

.catalog__link > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #222222;
}
