.catalog-page__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
}

@media screen and (max-width: 1500px) {
  .catalog-page__block {
    width: 1080px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1100px) {
  .catalog-page__block {
    width: 900px;
  }
}

@media screen and (max-width: 940px) {
  .catalog-page__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0;
    width: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 620px) {
  .catalog-page__block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    width: 300px;
    margin: 0 auto;
  }
}

.catalog-page__block-card {
  padding-top: 50px;
  border: 1px solid #c4c4c4;
  /*border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;*/
  display: flex;
  flex-direction: column;
  height: 460px;
  width: 460px;
  cursor: pointer;
  transition: 0.3s;
}

.catalog-page__block-card:hover {
  transform: scale(1.1);
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
}

@media screen and (max-width: 375px) {
  .catalog-page__block-card:hover {
    transform: scale(1.05);
  }
}

.catalog-page__block-card > span {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #222222;
  padding-left: 90px;
}

.catalog-page__block-card > img {
  width: 170px;
  height: 260px;
  margin: 63px auto 0;
}

@media screen and (max-width: 1100px) {
  .catalog-page__block-card > img {
    width: 138px;
    height: 210px;
  }
}

@media screen and (max-width: 1500px) {
  .catalog-page__block-card {
    padding-top: 30px;
    height: 360px;
    width: 360px;
  }
  .catalog-page__block-card > span {
    padding-left: 50px;
  }

  .catalog-page__block-card > img {
    margin: 23px auto 0;
  }
}

@media screen and (max-width: 1100px) {
  .catalog-page__block-card {
    padding-top: 20px;
    height: 300px;
    width: 300px;
  }
  .catalog-page__block-card > span {
    padding-left: 20px;
  }

  .catalog-page__block-card > img {
    margin: 13px auto 0;
  }
}
