.catalog {
  overflow: hidden;
}

.catalog-slider {
  overflow: visible;
}

.catalog__body {
  display: flex;
  position: relative;
}

@media screen and (max-width: 767px) {
  .catalog__body {
    flex-direction: column;
  }
}

.catalog-wrap {
  display: flex;
  border: 1px solid #dddddd;
  width: 1200px;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .catalog-wrap {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .catalog-wrap {
    flex-direction: column;
  }
}

.catalog__tabs {
  display: flex;
  flex-direction: column;
  width: 34%;
  padding: 60px 0px 58px 70px;
}

@media screen and (max-width: 1280px) {
  .catalog__tabs {
    padding: 30px 10px 30px 10px;
  }
}
@media screen and (max-width: 768px) {
  .catalog__tabs {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 10px 10px 10px;
  }
}

.catalog__tabs > button {
  margin-bottom: 15px;
  text-align: start;
  color: 222222;
  transition-delay: 0.3s;
}

@media screen and (max-width: 768px) {
  .catalog__tabs > button {
    margin-bottom: 0px;
    width: 100%;
    font-size: 14px;
  }
}

.catalog__tabs > button:hover {
  color: #ff2424;
  transition-delay: 0.3s;
}

.nav-tab {
  line-height: 140%;
  color: #222222;
  padding: 5px;
}
.nav-tab.active {
  font-weight: 900;
  cursor: pointer;
}
.catalog__content {
  background: #f6f6f6;
  width: 66%;
}

@media screen and (max-width: 1000px) {
  .catalog__content {
    width: 80vw;
  }
}

@media screen and (max-width: 767px) {
  .catalog__content {
    width: 100%;
  }
}

.tab-pane {
  display: none;
}

.tab-pane > img {
  display: flex;
  margin: 70px auto;
  min-width: 1vw;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .tab-pane > img {
    width: 70%;
  }
}

.tab-pane.active {
  display: flex;
}

.catalog__link {
  text-align: center;
  margin-top: 50px;
  position: relative;
}

@media screen and (max-width: 425px) {
  .catalog__link {
    margin-top: 20px;
  }
}

.catalog__link > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #222222;
  transition: 0s color;
}

.catalog__link > a:hover {
  color: #ff2424;
  transition: 0.3s color;
}
/****************слайдер****************/

.catalog-buttons {
  display: flex;
  position: absolute;
  top: calc(50% - 48px);
  left: -46px;
  z-index: 1;
  width: calc(100% + 92px);
  justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .catalog-buttons {
    width: 1230px;
    left: -30px;
  }
}

@media screen and (max-width: 1250px) {
  .catalog-buttons {
    width: 1200px;
    left: -20px;
  }
}

@media screen and (max-width: 1200px) {
  .catalog-buttons {
    width: 100%;
    left: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .catalog-buttons {
    top: 170px;
  }
}

.catalog-pagination-wrap {
  position: absolute;
  left: -70px;
  top: 30px;
}

@media screen and (max-width: 1200px) {
  .catalog-pagination-wrap {
    left: -50px;
  }
}

@media screen and (max-width: 768px) {
  .catalog-pagination-wrap {
    top: -10px;
  }
}

@media screen and (max-width: 425px) {
  .catalog-pagination-wrap {
    top: -20px;
  }
}

.catalog-pagination {
  position: absolute;
  z-index: 10;
  bottom: 0;
}
