.footer {
  margin: 70px 0 29px;
  padding: 0 10px 0 10px;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 828px) {
  .footer-style {
    margin-bottom: 20px;
  }
}

.footer__block > ul {
  width: 263px;
  padding: 0 5px 0 5px;
}

.footer-style > li > h4 {
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #222222;
  margin-bottom: 30px;
}

.footer-style > li > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #222222;
  transition: 0.3s color;
}

.footer-style > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #222222;
  transition: 0.3s color;
}

.footer-style > li > a:hover {
  color: #ff2424;
}

.footer-style > a:hover {
  color: #ff2424;
}

@media screen and (max-width: 767px) {
  .footer-style > li > h4 {
    font-size: 16px;
  }
  .footer-style > li > a {
    font-size: 14px;
  }
  .footer-style > a {
    font-size: 14px;
  }
}

.footer-style li:nth-last-child(n + 2) {
  margin-bottom: 15px;
}

.footer__block-right > h4 {
  margin-top: 30px;
}

.footer-hr {
  width: 100%;
  height: 1px;
  background: #c4c4c4;
}

.hr-mt4030 {
  margin: 40px 0 30px 0;
}

.hr-mt2530 {
  margin: 25px 0 30px 0;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__contacts > h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #222222;
  transition: 0.3s color;
  margin-bottom: 5px;
  margin-right: 5px;
}

.footer__contacts > h6 > span {
  color: #222222;
  font-weight: 900;
  transition: 0.3s color;
}

.footer__contacts > h6:nth-child(2):hover {
  cursor: pointer;
  color: #ff2424;
}

.footer__contacts > h6:nth-child(3):hover {
  cursor: pointer;
  color: #ff2424;
}

.footer__all-reserved {
  font-weight: 600;
  font-size: 14px;
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
