/*********слайдер**********/

.new__slider {
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .new__slider {
    margin-top: 40px;
  }
}

.new-scrollbar {
  height: 1px !important;
}

.swiper-scrollbar-drag {
  height: 1px;
  background: #ff2424;
  color: #ff2424;
  background-color: #ff2424;
}

.new__slider-button-block {
  display: flex;
  justify-content: space-between;
  width: 72px;
  margin-left: auto;
}

@media screen and (max-width: 425px) {
  .new__slider-button-block {
    display: none;
  }
}

.new__slider-button-block > button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.new__slider-button-block > button > svg > path {
  color: #222222;
  transition: 0s color;
  transition-delay: 0.3s;
}

.new__slider-button-block > button > svg > path:hover {
  fill: #ff2424;
}

.new__slider-button {
  display: flex;
}

.swiper-scrollbar .new-scrollbar .swiper-scrollbar-horizontal {
  width: 50%;
}

/***********карточка товара*******************/

.article {
  margin-bottom: 20px;
}

.article__about {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
  text-align: start;
  margin-top: 10px;
}

@media screen and (max-width: 425px) {
  .article__about {
    font-size: 14px;
  }
}

.article > img {
  cursor: pointer;
  transition: 0.3s;
}

.article > img:hover {
  transform: scale(1.1);
}

.article__description-name {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.article__description-name > a {
  font-weight: 800;
  font-size: 18px;
  line-height: 100%;
  color: #222222;
}

@media screen and (max-width: 425px) {
  .article__description-name > a {
    font-size: 16px;
  }
}

.article__description-name > span {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #222222;
}

@media screen and (max-width: 425px) {
  .article__description-name > span {
    font-size: 16px;
  }
}

.article__description-detail {
  display: flex;
  width: 140px;
  margin-left: auto;
}

.article__description-detail > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
  text-decoration: none;
  margin-top: 8px;
}

.article__description-detail > a:hover {
  color: #ff2424;
  transition: color 0.3s;
}

@media screen and (max-width: 425px) {
  .article__description-detail > a {
    font-size: 14px;
  }
}
