/*********слайдер**********/

.new__slider {
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .new__slider {
    margin-top: 40px;
  }
}

.new-scrollbar {
  height: 1px !important;
}

.swiper-scrollbar-drag {
  height: 1px;
  background: #ff2424;
  color: #ff2424;
  background-color: #ff2424;
}

.new__slider-button {
  margin-top: 30px;
}

.new__slider-button-block {
  display: flex;
  justify-content: space-between;
  width: 72px;
  margin-left: auto;
}

@media screen and (max-width: 425px) {
  .new__slider-button-block {
    display: none;
  }
}

.new__slider-button-block > button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.new__slider-button-block > button > svg > path {
  color: #222222;
  transition: 0s color;
  transition-delay: 0.3s;
}

.new__slider-button-block > button > svg > path:hover {
  fill: #ff2424;
}

.new__slider-button {
  display: flex;
}

.swiper-scrollbar .new-scrollbar .swiper-scrollbar-horizontal {
  width: 50%;
}
