.popular {
  background: #f6f6f6;
  padding: 120px 0;
}

@media screen and (max-width: 1440px) {
  .popular {
    padding: 80px 0;
  }
}

@media screen and (max-width: 767px) {
  .popular {
    padding: 40px 0;
  }
}

@media screen and (max-width: 600px) {
  .popular {
    height: 780px;
  }
}
@media screen and (max-width: 425px) {
  .popular {
    height: 800px;
  }
}

@media screen and (max-width: 375px) {
  .popular {
    height: 820px;
  }
}

.popular__block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .popular__block {
    margin-top: 40px;
    flex-direction: column;
  }
}

.popular__block-wrapper {
  width: 1180px;
  margin: 0 auto;
  height: 500px;
}

@media screen and (max-width: 1440px) {
  .popular__block-wrapper {
    width: 100%;
  }
}

/***********табы*********************/

.tabs {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 600px) {
  .tabs {
    display: flex;
    flex-wrap: wrap;
  }
}

.section {
  display: none;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  width: 786px;
}

@media screen and (max-width: 600px) {
  .section {
    position: relative;
    width: 100%;
    padding: 5px 0 0 0;
  }
}

.section > p {
  margin: 0;
}
.tabs > input {
  display: none;
}
.tabs > label {
  display: block;
  width: 180px;
  padding: 15px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #888888;
}

@media screen and (max-width: 600px) {
  .tabs > label {
    width: auto;
    padding: 5px;
  }
}

input:checked + label {
  font-weight: 800;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6 {
  display: block;
}

.tabs > label {
  color: #222222;
  transition: 0s color;
  transition-delay: 0.3s;
}

.tabs > label:hover {
  color: #ff2424;
}

/*************слайдер**********************/

.popular__content {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .popular__content {
    max-width: 360px;
    display: flex;
    margin-right: 0;
    margin-left: auto;
  }
}

@media screen and (max-width: 600px) {
  .popular__content {
    margin-right: auto;
  }
}

.popular-slider-content {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popular-slider-content > img {
  width: 245px;
  height: 350px;
}

.contentSlyle {
  background-color: #f6f6f6;
  /* width: 100%;*/
}

.popular__slider-button-block {
  display: flex;
  position: absolute;
  justify-content: space-between;
  z-index: 20;
  width: 110%;
  top: 28%;
  left: -40px;
}

@media screen and (max-width: 1440px) {
  .popular__slider-button-block {
    width: 105%;
    left: -20px;
  }
}

@media screen and (max-width: 425px) {
  .popular__slider-button-block {
    display: none;
  }
}

.popular__img > img {
  display: block;
  width: 245px;
  height: 350px;
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  .popular-next > svg {
    width: 60px;
    height: 60px;
  }

  .popular-prev > svg {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .popular__slider-button-block > button {
    display: none;
  }
}

.popular-pagination {
  margin-bottom: -250px;
  margin-left: -200px;
}
