.popular {
  display: flex;
  background: #f6f6f6;
}

.popular__body {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .popular__body {
    flex-direction: column;
  }
}

.popular__tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popular__tabs > button {
  margin-bottom: 25px;
  text-align: start;
  color: 222222;
  transition-delay: 0.3s;
}

@media screen and (max-width: 850px) {
  .popular__tabs > button {
    margin-bottom: 5px;
    font-size: 14px;
  }
}

.popular__tabs > button:hover {
  color: #ff2424;
  transition-delay: 0.3s;
}

.popular-tab {
  line-height: 140%;
  color: #222222;
  padding: 5px;
}
.popular-tab.active {
  font-weight: 900;
  cursor: pointer;
}

.tab-popular {
  display: none;
}

.tab-popular.active {
  display: flex;
}

/*************слайдер**********************/

.popular__content {
  background: #f6f6f6;
  max-width: 786px;
}

@media screen and (max-width: 1280px) {
  .popular__content {
    max-width: 630px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .popular__content {
    margin-right: 0;
    margin-left: auto;
    padding-right: 0px;
  }
}

@media screen and (max-width: 850px) {
  .popular__content {
    max-width: 100%;
    margin: 0 auto;
  }
}

.popular-slider-content {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popular-slider-content > img {
  width: 245px;
  height: 350px;
}

.contentSlyle {
  background-color: #f6f6f6;
  /* width: 100%;*/
}

.pop1 {
  position: relative;
}

.popular__slider-button-block {
  display: flex;
  position: absolute;
  justify-content: space-between;
  z-index: 20;
  width: 870px;
  top: calc(100% - 330px);
  left: -40px;
}

@media screen and (max-width: 1440px) {
  .popular__slider-button-block {
    width: 105%;
    left: -20px;
    top: calc(100% - 320px);
  }
}

@media screen and (max-width: 1280px) {
  .popular__slider-button-block {
    width: 650px;
    left: -25px;
    top: calc(100% - 290px);
  }
}

@media screen and (max-width: 1000px) {
  .popular__slider-button-block {
    top: calc(100% - 310px);
    width: 100%;
    left: 0px;
  }
}

@media screen and (max-width: 720px) {
  .popular__slider-button-block {
    display: none;
  }
}

.popular__img > img {
  display: block;
  width: 245px;
  height: 350px;
  overflow: hidden;
}

.popul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular-pagination {
  margin-bottom: 0px;
}

@media screen and (max-width: 850px) {
  .popular-pagination {
    margin-bottom: 10px;
  }
}
