.profit-slider-wrapper {
  width: 100%;
  margin: 0 auto;
}

.profit__card {
  width: 100%;
}

.profit__card > img {
  width: 100%;
}

.profit__card-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 38px;
  background: #f6f6f6;
}

@media screen and (max-width: 1280px) {
  .profit__card-description {
    padding-top: 20px;
  }
}

.profit__card-description > a {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #222222;
}
