.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #222222;
  opacity: 1;
  position: relative;
}

.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
  border-radius: 50%;
  border: 1px solid #ff2424;
  opacity: 0;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
  background: #ff2424;
}

.swiper-pagination-bullet-active::before {
  opacity: 1;
  transition: opacity 0.3s;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 15px) !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  /*  bottom: 106px !important;
  left: calc(50% - 610px) !important;*/
  width: 200px !important;
}
/*
@media screen and (max-width: 1440px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 130px !important;
  }
}

@media screen and (max-width: 1300px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 60px !important;
  }
}

@media screen and (max-width: 1200px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 0px !important;
    bottom: 30px !important;
  }
}
*/
