.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  /* height: 300px;*/
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.goods-slider2 {
  height: 560px;
  width: 100%;
}

.goods-slider {
  height: 147px;
  box-sizing: border-box;
  padding-top: 20px;
}

.goods-slider .swiper-slide {
  cursor: pointer;
  background: #f6f6f6;
}

.goods-slider .swiper-slide:hover {
  border: 1px solid #ff2424;
  transition: 0.3s border;
}

.goods-slider .swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid #ff2424;
}
