@import "./header.css";
@import "./navigation.css";
@import "./normalize.css";
@import "../vendor/fonts.css";

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}*/

.fontMont {
  font-family: "Mont";
  font-style: normal;
}
